@charset "utf-8";
/*
 * Pretendard
 * https://github.com/webfontworld/pretendard
 */

@font-face {
  font-family: Pretendard;
  font-weight: 300;
  font-style: normal;
  src: local("pretendard-Light"),
    url("/fonts/pretendard/Pretendard-Light.woff2") format("woff2"),
    url("/fonts/pretendard/Pretendard-Light.woff") format("woff"); /* Modern Browsers */

  font-display: swap;
}

@font-face {
  font-family: Pretendard;
  font-weight: 400;
  font-style: normal;
  src: local("pretendard-Regular"),
    url("/fonts/pretendard/Pretendard-Regular.woff2") format("woff2"),
    url("/fonts/pretendard/Pretendard-Regular.woff") format("woff"); /* Modern Browsers */

  font-display: swap;
}

@font-face {
  font-family: Pretendard;
  font-weight: 500;
  font-style: normal;
  src: local("pretendard-Medium"),
    url("/fonts/pretendard/Pretendard-Medium.woff2") format("woff2"),
    url("/fonts/pretendard/Pretendard-Medium.woff") format("woff"); /* Modern Browsers */

  font-display: swap;
}

@font-face {
  font-family: Pretendard;
  font-weight: 600;
  font-style: normal;
  src: local("pretendard-SemiBold"),
    url("/fonts/pretendard/Pretendard-SemiBold.woff2") format("woff2"),
    url("/fonts/pretendard/Pretendard-SemiBold.woff") format("woff"); /* Modern Browsers */

  font-display: swap;
}

@font-face {
  font-family: Pretendard;
  font-weight: 700;
  font-style: normal;
  src: local("pretendard-Bold"),
    url("/fonts/pretendard/Pretendard-Bold.woff2") format("woff2"),
    url("/fonts/pretendard/Pretendard-Bold.woff") format("woff"); /* Modern Browsers */

  font-display: swap;
}

@font-face {
  font-weight: 900;
  font-family: Pretendard;
  font-style: normal;
  src: local("pretendard-ExtraBold"),
    url("/fonts/pretendard/Pretendard-ExtraBold.woff2") format("woff2"),
    url("/fonts/pretendard/Pretendard-ExtraBold.woff") format("woff"); /* Modern Browsers */
  font-display: swap;
}
