@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin respond-to($breakpoint) {
  @if $breakpoint == mobile {
    @media (max-width: $mobile) {
      @content;
    }
  }
  @if $breakpoint == tablet {
    @media (max-width: $tablet) {
      @content;
    }
  }
  @if $breakpoint == desktop {
    @media (min-width: $desktop) {
      @content;
    }
  }
}
