:root {
  --base-white: #fff;
  --base-black: #000;

  --primary: #2d3862;
  --secondary: #4a5568;
  --accent: #3182ce;
  --light-gray: #ababab;
  --medium-gray: #718096;
  --dark-gray: #1a202c;
  --blue: #498ce8;
  --neutral-50: #f7fafc;
  --neutral-100: #e2e8f0;
  --neutral-200: #cbd5e0;
  --shadow: rgba(0, 0, 0, 0.1);

  --secondary1: rgba(243, 88, 37, 0.2);
  --secondary2: rgba(0, 123, 201, 0.2);
  --secondary3: rgba(175, 0, 219, 0.2);
  --secondary4: rgba(0, 84, 237, 0.2);
  --secondary5: rgba(247, 224, 24, 0.2);
  --secondary6: rgba(11, 216, 255, 0.2);
  --secondary7: rgba(63, 184, 131, 0.2);
  --secondary8: rgba(0, 87, 255, 0.2);
  --secondary9: rgba(55, 188, 248, 0.2);
  --secondary10: rgba(0, 0, 0, 0.2);
  --secondary11: rgba(86, 61, 124, 0.2);
  --secondary12: rgba(210, 206, 206, 0.2);

  --font-pretendard: "Pretendard", sans-serif;
  --font-signika: "Signika", sans-serif;
}
